# GEMINI_API_KEY=""
APP_URL="http://localhost:3000"

# Supabase Connection
NEXT_PUBLIC_SUPABASE_URL="https://zjzzpgeprjezgrpmckrh.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_83jmcwHzWsjsjsmsi04Hzg_ZJzH8GpJ"
SUPABASE_SERVICE_ROLE_KEY="" 
SUPABASE_DB_URL="postgresql://postgres.zjzzpgeprjezgrpmckrh:YOUR_PASSWORD@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres"

# Webhook & DB Encryption Secrets
APP_HMAC_SECRET="YOUR_HMAC_SECRET_KEY"
APP_AES_PASSWORD="YOUR_AES_PASSWORD"
DB_ENCRYPTION_KEY="16053f3eeb0c16928e4e7e68adbaab40bda5bd9f9bd0ec3dd67db2ee6e0689b9" # Random 32 bytes hex length 64

# Dashboard Access Security
DASHBOARD_PASSWORD="YOUR_SECURE_PASSWORD"
