@import "tailwindcss";

@theme {
  --color-border: var(--border);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: oklch(0.99 0 0);
  --foreground: oklch(0.14 0 0);
  --border: oklch(0.92 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.14 0 0);
    --foreground: oklch(0.98 0 0);
    --border: oklch(0.27 0 0);
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
